<p style="color: green"><%= notice %></p>

<h1>Exchanges</h1>

<div id="exchanges">
  <% @exchanges.each do |exchange| %>
    <%= render exchange %>
  <% end %>
</div>

<% if @country.present? %>
  <%= link_to "New exchange", new_country_exchange_path(@country) %>
<% end %>
