<h1>Editing asset pair</h1>

<%= render "form", asset_pair: @asset_pair %>

<br>

<div>
  <%= link_to "Show this asset pair", @asset_pair %> |
  <%= link_to "Back to asset pairs", asset_pairs_path %>
</div>
