<p style="color: green"><%= notice %></p>

<h1><%= @asset_pairs.model_name.human %></h1>

<div id="asset_pairs">
  <% @asset_pairs.each do |asset_pair| %>
    <%= render asset_pair %>
  <% end %>
</div>

<%= link_to "New asset pair", new_asset_pair_path %>
