<footer class="site-footer">
  <div class="app-info">
    <%= t 'app.name.short.html', default: 'Boombox' %>
    <div class="app-copying">
      <%= t 'app.name.long.html', default: 'Boombox' %>
      <p class="copyright">Copyright &copy; RuhmUndAnsehen</p>
      <nav class="source-links">
        <p><%= t 'app.footer.source_links_html' %></p>
      </nav>
    </div>
  </div>
</footer>
