<header class="site-header">
  <nav class="site-nav">
    <ul class="nav-bar">
      <li class="link_to-root">
        <%= link_to t('app.name.long.html'), '#' %>
      </li>
      <li>
        <span><%= t 'sections.market_data' %></span>
      </li>
      <li>
        <span><%= t 'sections.other_data' %></span>
      </li>
    </ul>
  <nav>
</header>
