<h1>Editing exchange rate</h1>

<%= render "form", exchange_rate: @exchange_rate %>

<br>

<div>
  <%= link_to "Show this exchange rate", @exchange_rate %> |
  <%= link_to "Back to exchange rates", exchange_rates_path %>
</div>
