$base-color: white !default;
$base-text-color: #222 !default;

$palette-color-1: #5386C2 !default;
$palette-color-2: #134B8F !default;
$palette-color-3: #83F4F5 !default;
$palette-color-4: #F6CDC0 !default;
$palette-color-5: #C25D53 !default;

$line-height: 1 !default;
