$height: 300px !default;

$bg-color: null !default;

@mixin styles {
  body::after {
    content: ' ';

    display: block;
    height: $height;
    width: 1px;
    overflow: hidden;
    margin-left: -1px;
  }

  .site-footer {
    display: block;

    position: fixed;
    bottom: 0;
    z-index: -1;

    height: $height;
    width: 100%;

    background-color: $bg-color;
  }
}
