/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require reset
 *= require_self
 *= require navigation
 *= require header
 *= require footer
 */

:root {
  --color-base: white;
  --color-base-text: #222;

  --color-palette-1: #5386C2;
  --color-palette-2: #134B8F;
  --color-palette-3: #83F4F5;
  --color-palette-4: #F6CDC0;
  --color-palette-5: #C25D53;

  --bg-color-base: var(--color-palette-2);
  --bg-color-active: var(--color-palette-1);
  --bg-color-highlight: var(--color-palette-3);

  --fg-color: var(--color-palette-3);

  --link-color: var(--color-palette-5);
  --link-color-active: var(--color-palette-3);
  --link-color-visited: var(--color-palette-4);

  --golden-ratio: 1.618033989;
  --golden-ratio-a: calc(1 / var(--golden-ratio));
  --golden-ratio-b: calc(1 - var(--golden-ratio-a));
  --golden-ratio-em: calc(1em * var(--golden-ratio));
  --golden-ratio-a-em: calc(1em * var(--golden-ratio-a));
  --golden-ratio-b-em: calc(1em * var(--golden-ratio-b));
  --golden-ratio-pc: calc(100% * var(--golden-ratio));
  --golden-ratio-a-pc: calc(100% * var(--golden-ratio-a));
  --golden-ratio-b-pc: calc(100% * var(--golden-ratio-b));

  --unit-margin: 1em;
  --small-margin: var(--golden-ratio-b-em);
  --wide-margin: var(--golden-ratio-a-em);

  --line-height: 1;
  --increased-line-height: calc(var(--line-height) * var(--golden-ratio));
  --tall-line-height:
      calc(var(--increased-line-height) * var(--golden-ratio));

  position: relative;

  height: 100%;
  width: 100%;

  font-size: 18px;
  line-height: var(--line-height);

  transition: all 0.42s ease;
}

*, *::before, *::after {
  box-sizing: border-box;

  transition: inherit;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;

  width: 100%;
  height: 100%;
}

main {
  background-color: white;
}

/* Hack to fill the void between the header and the first child. */
main::before {
  content: ' ';

  display: block;
  width: 1px;
  height: 1px;
  margin-right: -1px;
  margin-bottom: -1px;
}

a {
  display: inline-block;

  color: var(--link-color);

  /* Firefox incorrectly transitions if the color of visited links differs from
   * the regular link color (and a hover/focus/active color is set).
   */
  -moz-transition-property: none;
}

a:visited {
  color: var(--link-color-visited);
}

:is(a, a:visited):is(:active, :focus, :hover) {
  color: var(--link-color-active);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: thin;
}

h1, h2, h3, h4, h5 {
  margin-top: var(--wide-margin);
  margin-bottom: var(--small-margin);
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 1.71em;
}

h3 {
  font-size: 1.32em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 1em;
}

h6 {
  float: left;
  margin-right: var(--small-margin);

  font-size: 1em;
}

p + p, p + h6 {
  margin-top: var(--small-margin);
}
