@use "defs";
@use "cssvars" as vars;
@use "reset";
@use "base";
@use "navigation";
@use "header" with (
  $bg-color: vars.$palette-color-2
);
@use "footer" with (
  $bg-color: vars.$palette-color-2
);

@include reset.styles;
@include vars.styles;
@include base.styles(
  $line-height: vars.$line-height,
  $small-margin: defs.$small-margin,
  $wide-margin: defs.$wide-margin,

  $base-bg-color: vars.$base-bg-color,
  $link-color: vars.$link-color,
  $link-color-visited: vars.$link-color-visited,
  $link-color-active: vars.$link-color-active
);
@include header.styles;
@include navigation.styles(
  $bg-color: vars.$palette-color-2,
  $bg-color-highlight: vars.$palette-color-1,
  $bg-color-active: vars.$palette-color-3,
  $color: vars.$palette-color-4,
  $color-active: vars.$palette-color-3,
  $color-visited: vars.$palette-color-4
);
@include footer.styles;
