@use "sass:list";
@use "sass:meta";

@use "functions/map";

@use "defs";
@use "cssvars" as vars;
@use "earmark" with (
  $earmark-offset: defs.$wide-margin,
  $stripe-width: defs.$wide-margin
);

@use "reset";
@use "base";
@use "header";
@use "navigation";
@use "footer";

@import "functions/import-unscoped";

@include reset.styles(
  $color: vars.$base-color,
  $selection-color: vars.$palette-color-4,
  $selection-bg-color: vars.$palette-color-1,
  $line-height: defs.$line-height
);
@include vars.styles(
  variables-from(defs, base-bg-color, base-color, palette-color-1,
                       palette-color-2, palette-color-3, palette-color-4,
                       palette-color-5, line-height)...
);
@include base.styles(
  variables-from(defs, line-height, small-margin, wide-margin)...,
  variables-from(vars, base-bg-color, link-color, link-color-visited,
                       link-color-active)...
);
@include header.styles($bg-color: vars.$palette-color-2);
@include navigation.styles(
  $bg-color: vars.$palette-color-2,
  $bg-color-highlight: vars.$palette-color-1,
  $bg-color-active: vars.$palette-color-3,
  $color: vars.$palette-color-4,
  $color-active: vars.$palette-color-3,
  $color-visited: vars.$palette-color-4
);
@include footer.styles($bg-color: vars.$palette-color-2);
