@use "height-transition";
@use "menu-items";

.nav-bar, .nav-menu {
  --padding-x: 0px;
  --padding-y: var(--wide-margin);

  padding: var(--padding-y) var(--padding-x);

  background-color: var(--bg-color-base);
}

/* Closed submenus have zero vertical padding... */
.nav-item .nav-menu {
  --padding-y: 0px;
}

/* ... but opened do. */
.nav-item:is(.current-controller, .current-page, :hover, :focus, :focus-within)
    .nav-menu {
  --padding-y: var(--small-margin);
}

.nav-item:last-child .nav-menu {
  padding-bottom: 0;
}

/* We disabled anchor tag transitions in Firefox due to a decade old bug, but
 * the conditions aren't there in menus, so we're activating them again. */
:is(.nav-bar, .nav-menu) a {
  --link-color: var(--link-color-visited);

  transition-property: inherit;
}
