.nav-item .nav-item {
  display: grid;
  overflow: hidden;
  grid-template-rows: 0fr;
}

.nav-item:where(.current-controller, .current-page, :hover, :focus, :focus-within)
    .nav-item {
  grid-template-rows: 1fr;
}

.nav-item > :is(a, span) {
  padding: var(--padding-y) var(--padding-x);
}

.nav-item:where(.current-controller, .current-page, :hover, :focus, :focus-within)
    .nav-item > :is(a, span) {
  --padding-y: var(--small-margin);
}
